/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 30px;
}

/*
 * Global add-ons
 */
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */
.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}




/* CUSTOM STYLE / OVERWRITES */


#toast-container DIV { width: 500px;}

.navbar-header {
    padding-left: 16px;
}
.navbar-brand {
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: left center;
    padding-top: 12px;
    padding-left: 50px;
    color: white !important;
}
.navbar-inverse {
    background-color: #226;
    background-image: none;
}
.a-right { text-align: right;  }

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    padding:10px;
    margin:0px;
    font-size: 0.85em;
}

code {
    color: #555;
    border: 1px solid #bbb;
}

.text-shadow {text-shadow: 1px 1px 1px rgba(200, 200, 200, 1);}
.menu_item { font-size: 1.1em;}
.menu_item A {color: #888}
.center {text-align: center}
.sub-header { color: #395c82; text-shadow: 1px 1px 2px rgba(200, 200, 200, 1); }
.bold {font-weight: bold }
.nav A:hover {color:#395c82;}
.red {color: red}
.green {color: green}
.pointer {cursor: pointer}
.navbar-form {margin-top: 14px;}
#helpMarkdownHtmlDiv CODE {border: 0;}
.page-size-dropdown-button { border: 1px solid #ddd; }
.search-query { }
.page-link-selected {background-color:#bbb !important;}

/* timeline css (minified) */
div.timeline-content,div.timeline-frame{position:relative;overflow:hidden}div.timeline-frame{-moz-box-sizing:border-box;border:1px solid #bebebe;box-sizing:border-box}div.timeline-axis,div.timeline-axis-grid{-moz-box-sizing:border-box;border-width:1px}div.timeline-axis{border-color:#bebebe;border-top-style:solid;box-sizing:border-box}div.timeline-axis-grid{border-left-style:solid;box-sizing:border-box}div.timeline-axis-grid-minor{border-color:#e5e5e5}div.timeline-axis-grid-major{border-color:#bfbfbf}div.timeline-axis-text{color:#4d4d4d;padding:3px;white-space:nowrap}div.timeline-event{-moz-box-sizing:border-box;background-color:#d5ddf6;border-color:#97b0f8;box-sizing:border-box;color:#1a1a1a;display:inline-block}div.timeline-event-selected{background-color:#fff785;border-color:#ffc200;z-index:999}div.timeline-event-cluster{background:url(/images/16/cluster_bg.png) #97b0f8;color:#fff}div.timeline-event-cluster div.timeline-event-dot{border-color:#d5ddf6}div.timeline-event-box{-moz-border-radius:5px;border-radius:5px;border-style:solid;border-width:1px;text-align:center}div.timeline-event-dot{-moz-border-radius:5px;border-radius:5px;border-style:solid;border-width:5px}div.timeline-event-range{-moz-border-radius:2px;border-radius:2px;border-style:solid;border-width:1px}div.timeline-event-range-drag-left{cursor:w-resize;z-index:1000}div.timeline-event-range-drag-right{cursor:e-resize;z-index:1000}div.timeline-event-line{-moz-box-sizing:border-box;border-left-style:solid;border-left-width:1px;box-sizing:border-box}div.timeline-event-content{margin:2px;overflow:hidden;white-space:nowrap}div.timeline-groups-axis{-moz-box-sizing:border-box;border-color:#bebebe;border-width:1px;box-sizing:border-box}div.timeline-groups-axis-onleft{border-style:none solid none none}div.timeline-groups-axis-onright{border-style:none none none solid}div.timeline-groups-text{color:#4d4d4d;padding-left:10px;padding-right:10px}div.timeline-currenttime{-moz-box-sizing:border-box;background-color:#ff7f6e;box-sizing:border-box;width:2px}div.timeline-customtime{-moz-box-sizing:border-box;background-color:#6e94ff;box-sizing:border-box;cursor:move;width:2px}div.timeline-navigation{-moz-border-radius:2px;-moz-box-sizing:border-box;background-color:#f5f5f5;border:1px solid #bebebe;border-radius:2px;box-sizing:border-box;color:grey;font-family:arial;font-size:20px;font-weight:700}div.timeline-navigation-delete,div.timeline-navigation-move-left,div.timeline-navigation-move-right,div.timeline-navigation-new,div.timeline-navigation-zoom-in,div.timeline-navigation-zoom-out{-moz-box-sizing:border-box;box-sizing:border-box;cursor:pointer;float:left;height:36px;padding:10px;text-decoration:none;width:36px}div.timeline-navigation-new{background:url(/images/16/new.png) center no-repeat}div.timeline-navigation-new-line{border-right:1px solid #bebebe}div.timeline-navigation-zoom-in{background:url(/images/16/zoomin.png) center no-repeat}div.timeline-navigation-zoom-out{background:url(/images/16/zoomout.png) center no-repeat}div.timeline-navigation-move-left{background:url(/images/16/moveleft.png) center no-repeat}div.timeline-navigation-move-right{background:url(/images/16/moveright.png) center no-repeat}